@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-account{
  background-image: url('../img/bg-incon.jpeg');
  background-size: 50% auto; /* Establece el tamaño del fondo al 50% del ancho de la página */
  background-position: left; /* Ajusta la posición del fondo a la izquierda */
  background-repeat: no-repeat; /* Evita la repetición del fondo */
}

.bg-logo {
    background-image: url("");
    background-size: 20%;
    background-position: 2vw 3vw;
    background-repeat: no-repeat;
}

.bg-password {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #5d8f89;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 9.5vw;
    bottom: 2vw;
}

/* Fondo más grande */
.bg-password::before {
    content: "";
    position: absolute;
    width: 160%; /* Ancho del fondo más grande */
    height: 160%; /* Altura del fondo más grande */
    background-color: #d2e7e4;
    border-radius: 50%;
    z-index: -1; /* Colocar el fondo detrás del círculo */
}

/* Icono */
.bg-password::after {
    content: "\2713";
    font-size: 3em;
    color: #5c7891;
    position: relative; /* Asegurar que el check esté sobre el fondo */
    transform: rotate(14deg);
}

/* Mostrar el check en el círculo */
.bg-password::after {
    position: absolute;
}

.custom-width {
    width: 30%;
    position: relative;
    bottom: 4vw;
    margin: 0 auto;
    border-radius: 8px;
    max-width: 30%;
    left: 25vw;
}
.custom-title {
    text-align: left;
    width: 200%;
    top: 10vw;
    position: absolute;
    left: -1vw;
}

.custom-back {
    position: fixed;
    font-family: "zen kaku gothic antique", sans-serif;
    left: 90vw;
    top: 5vw;
    display: flex;
    align-items: center;
}

.custom-back svg {
    margin-right: 5px; /* Ajusta el margen derecho según sea necesario */
}

.font-zen-kaku {
    font-family: "zen kaku gothic antique", sans-serif;
}
.font-color-c {
    color: white;
    position: absolute; /* Cambiado a "absolute" para que el span no afecte al flujo de los demás elementos */
    top: 70%; /* Porcentaje relativo al contenedor padre */
    left: 4%; /* Porcentaje relativo al contenedor padre */
    text-align: center;
    font-size: 2.5vw; /* Tamaño de fuente relativo al ancho de la ventana */
    font-family: "zen kaku gothic antique", sans-serif;
}
.font-color-p {
    color: white;
    position: absolute;
    top: 80%; /* Porcentaje relativo al contenedor padre */
    right: 73.6%; /* Porcentaje relativo al contenedor padre */
    text-align: left;
    font-size: 0.9vw; /* Tamaño de fuente relativo al ancho de la ventana */
    width: 22vw; /* Ancho relativo al ancho de la ventana */
    max-height: 20vh; /* Altura máxima relativa al alto de la ventana */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    font-family: "zen kaku gothic antique", sans-serif;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Evita el desplazamiento */
    background-color: white;
}

@media (max-width: 768px) {
    .bg-logo {
        background-position: top; /* Cambiar la posición para pantallas más pequeñas */
        background-size: 50%;
    }
    .bg-image {
        background-position: center;
        background-size: cover;
    }
    .custom-width {
        width: auto;
        transform: translateX(-75%);
    }

    .font-color-c {
        position: fixed;
        padding-top: 25%;
    }
    .custom-forget {
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        font-family: "zen kaku gothic antique", sans-serif;
    }
}
