@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-account{
  background-image: url('../img/bg-incon.jpg');
  background-size: 50% auto; /* Establece el tamaño del fondo al 50% del ancho de la página */
  background-position: left; /* Ajusta la posición del fondo a la izquierda */
  background-repeat: no-repeat; /* Evita la repetición del fondo */
}

.bg-logo {
    background-image: url("");
    background-size: 20%;
    background-position: 2vw 3vw;
    background-repeat: no-repeat;
}

.custom-newpass {
    width: 30%;
    position: relative;
    bottom: 4vw;
    margin: 0 auto;
    border-radius: 8px;
    max-width: 30%;
    left: 25vw;
}
.custom-title-new {
    text-align: left;
    width: 200%;
}

.custom-p-new {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    font-family: "zen kaku gothic antique", sans-serif;
    width: 95%;
    text-align: start;
}

.custom-back-new {
    position: fixed;
    font-family: "zen kaku gothic antique", sans-serif;
    left: 90vw;
    top: 5vw;
    display: flex;
    align-items: center;
}

.custom-back-new svg {
    margin-right: 5px; /* Ajusta el margen derecho según sea necesario */
}

.font-zen-kaku {
    font-family: "zen kaku gothic antique", sans-serif;
}
.font-color-c {
    color: white;
    position: absolute; /* Cambiado a "absolute" para que el span no afecte al flujo de los demás elementos */
    top: 70%; /* Porcentaje relativo al contenedor padre */
    left: 4%; /* Porcentaje relativo al contenedor padre */
    text-align: center;
    font-size: 2.5vw; /* Tamaño de fuente relativo al ancho de la ventana */
    font-family: "zen kaku gothic antique", sans-serif;
}
.font-color-p {
    color: white;
    position: absolute;
    top: 80%; /* Porcentaje relativo al contenedor padre */
    right: 73.6%; /* Porcentaje relativo al contenedor padre */
    text-align: left;
    font-size: 0.9vw; /* Tamaño de fuente relativo al ancho de la ventana */
    width: 22vw; /* Ancho relativo al ancho de la ventana */
    max-height: 20vh; /* Altura máxima relativa al alto de la ventana */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    font-family: "zen kaku gothic antique", sans-serif;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Evita el desplazamiento */
    background-color: white;
}


.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-buton {
    margin-left: 2vw;
    width: 80%;
}


.form-field-newpass {
    position: relative;
    margin-bottom: 1rem;
}
.form-field-newpass label {
    position: absolute;
    top: 55%;
    left: 3rem;
    transform: translateY(-50%);
    padding: 0.25rem 0.9rem;
    color: #6c757d;
    pointer-events: none;
    transition: 0.3s ease-out all;
    background-color: white; /* Asegura que el fondo del label sea blanco para cubrir el borde */
    border-radius: 15rem;
}
.form-field-newpass input {
    width: 80%;
    padding: 1rem 2.5rem 1rem 1.2rem;
    border: 1px solid #ced4da;
    border-radius: 10px; /* Ajusta el radio de borde */
    transition: 0.3s ease-out all;
    font-family: "zen kaku gothic antique", sans-serif;
    margin-bottom: 0.7rem;
    margin-top: 1vw;
    margin-left: 2vw;
}
.form-field-newpass input:focus,
.form-field-newpass input:valid {
    border-color: black; /* Cambia el color del borde al hacer clic o si el input tiene valor */
}
.form-field-newpass input:focus + label,
.form-field-newpass input:valid + label {
    top: 1vw;
    font-size: 1rem;
    color: #6c757d;
}
.form-field-newpass input::placeholder {
    color: black; /* Cambia el color del borde cuando el input está enfocado */
}
.form-field-newpass input:focus,
.form-field-newpass input:valid {
    border-color: #6c757d; /* Cambia el color del borde al hacer clic o si el input tiene valor */
}

.form-field-newpass input:not(:focus) + label {
    border-color: #d1d1d1; /* Cambia el color del borde cuando el input no está enfocado */
}
.text-red-502 {
    color: red; /* Asegura que el color del texto de error sea rojo */
    font-size: 0.75rem; /* Tamaño de fuente del texto de error */
    position: absolute;
    top: calc(100% + -1.2rem); /* Ajusta la posición del texto de error */
    left: 3rem; /* Ajusta la posición del texto de error */
    font-family: "zen kaku gothic antique", sans-serif;
}

@media (max-width: 768px) {
    .bg-logo {
        background-position: top; /* Cambiar la posición para pantallas más pequeñas */
        background-size: 50%;
    }
    .bg-image {
        background-position: center;
        background-size: cover;
    }
    .custom-width {
        width: auto;
        transform: translateX(-75%);
    }

    .font-color-c {
        position: fixed;
        padding-top: 25%;
    }
    .custom-forget {
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        font-family: "zen kaku gothic antique", sans-serif;
    }
}
